__pycache__/
*.py[cod]

src/models/*
src/sam_backend/cache.db
src/sam_backend/test_image
src/sam_backend/draw_image/*

cache/
.pytest_cache/
tools/log/
temp
tile_image
__pycache__/
draw_image
cache.db
src/log/