label_studio_converter
opencv-python
onnxruntime
onnx
torch==2.0.1
torchvision==0.15.2
gunicorn==20.1.0
rq==1.10.1
timm==0.4.12
segment_anything @ git+https://github.com/facebookresearch/segment-anything.git
mobile-sam @ git+https://github.com/ChaoningZhang/MobileSAM.git
sam2 @ git+https://github.com/facebookresearch/segment-anything-2.git
pycocotools
matplotlib

Flask~=2.3
colorama~=0.4
requests~=2.31
label-studio-tools